body {
    background-color: aliceblue;
}

page {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

ibutton {

    background: transparent;
    border: none !important;
    font-size:0;
}

button {

}