#page{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px
}
#page div {
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    margin-top: 5px
}
form{
    border-radius: 60px;
    background-color: darksalmon;
}
input{
    margin-bottom: 10px;
    border-radius: 5px;
    height: 20px;
}
#page p{
    color: white;
    font-weight: bold;
}
commandButton{
    margin-bottom: 10px;
    height: 50px;
    weight: 300px;
}